body {
    background-color: #39FF14;
    font-family: 'IBM Plex Sans', sans-serif;
}

nav {
    display: flex;
    flex-direction: row;
    gap: 16px;
    padding: 10px;
}

.nav-link a {
    display: flex;
    flex-direction: row;
    font-size: 24px;
}

h1,
h2 {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: bold;
}

h1 {
    margin: 15px;
    font-size: 36px;
}

h2 {
    margin: 0;
    font-size: 32px;
}

p {
    font-size: 18px;
    max-width: 750px;
}

a {
    color: #000000;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
    font-weight: 900;
}

li {
    list-style: square;
    font-size: 20px;
}

.homepage-text {
    min-width: 500px;
    max-width: 1000px;
    font-weight: 900;
    margin: 10px;
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.project-card {
    display: flex;
    flex-direction: column;
    flex-basis: 450px;
    border: 5px solid #000000;
    margin: 10px;
    padding: 20px;
    max-width: 450px;
}

.project-img img {
    display: flex;
    max-width: 450px;
    padding-top: 10px;
    object-fit: cover;
}