body {
  background-color: #0000EE;
  font-family: monospace;
  font-size: 16pt;
  line-height: 1.3em;
  font-weight: normal;
}

h2{
  font-family: monospace;
  font-size: 20pt;
  color: #FFFFFF;
  line-height: 1.3em;
}

a:hover {
  color: #FF9100;
}
