body {
  font-family: Courier, monospace;
  background-color: #000000;
}

a {
  color: #FCE303;
}

a:hover {
  color: #0000EE;
}

h1 {
  text-align: center;
  font-size: 24pt;
  color: #FFFFFF;
}

h2 {
  text-align: center;
  font-size: 18pt;
  font-weight: bold;
  color: #FFFFFF;
}

ul {
  text-align:center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  text-align: center;
  font-weight: normal;
  font-size: 16pt;
  color: #FFFFFF;
}

p {
  font-weight: normal;
  font-size: 16pt;
  color: #FFFFFF;
}
